*.out
*.test
*.xml
*.swp
.idea/
*.iml
*.cov
*.html
.gobincache/
.tmp/
.vscode/
.build/
.bin/
.cursor/
/vendor
/_vendor-*
/cadence
.DS_Store
test
test.log
test_xdc
test_xdc.log
test_e2e
test_eventsV2
test_eventsV2.log
test_eventsV2_xdc
test_eventsV2_xdc.log
matching-simulator-output/
history-simulator-output/
replication-simulator-output/
worker*.log
**/Dockerfile.local*
**/Dockerfile.light*
*.crt

# Executables produced by cadence repo
/cadence
/cadence-server
/cadence-canary
/cadence-bench
/cadence-cassandra-tool
/cadence-sql-tool

# SQLite databases
cadence.db*
cadence_visibility.db*
